

@font-face {
    font-family: gothamprolight;
    src: url('fonts/GothamPro-Light.otf');
}
.error{
    border: 1px solid red;
}
.valign-bottom{
	vertical-align: bottom !important;
}
.homeImage{
    height:600px!important;
}

.logo{
    height:90px;
}
.headerText{

    /* display: inline-flex !important; */
    padding-top:40px;
    position: absolute!important;
    bottom: 40px!important;
    height: auto;
    left:0px;
}
h1{
    color:#f68f1f;
}
.headerPadding{
    padding-top: 40px!important;
    color: wheat!important;
}
.alignLeft{
    
    margin-left: 10.666667%

}
.text-right{
	font-family: gothamprolight;
}
.formContainer{
	background-color: #f2f2f2;
	padding: 4em 0;
}
.contactContainer{
    background-color: #dbecf3 !important;
}
.formContactUS{
	text-align: center;
	padding: 4em 0;
}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
.navbottom{
    position: absolute;
    bottom: 3px;
    right: 1%;
}
.formHeader{
    background-image: url('../img/formImage.jpg'); 
    background-repeat: no-repeat;
}
@media screen and (max-width: 992px) {
    .navbottom{
       position:inherit!important;
    }
}
